*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --silver: #ebebeb;
  --silver-shade: #c0c0c0;
  --text-color: #444;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  font: 1.6rem/1.6 sans-serif;
  margin: 0;
}

/** General heading styles.
    Responsible mostly for non-layout styles like line-height.
*/

.heading {
  line-height: 1.2;
  text-align: center;
}

/** Generic guttered container.
    Direct children must be .container__content or they'll be placed in the
    gutter.
*/

.container {
  --min-gutter-width: 2rem;
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--min-gutter-width), 1fr)
    [content-start] auto
    [content-end] minmax(var(--min-gutter-width), 1fr)
    [full-end];
}

.container_gutter_wide {
  --min-gutter-width: 5rem;
}

.container__content {
  grid-column: content;
}

/** The page's welcome section.

    1. 100vh height as specified by the project requirements.
*/

.welcome-section {
  background: linear-gradient(
    to bottom right,
    var(--silver),
    var(--silver-shade)
  );
  height: 100vh; /* 1 */
}

/** Inner welcome-section element for vertical centering. */

.welcome-section__inner {
  align-items: center;
  display: grid;
}

.welcome-section__title {
  font-size: 3.2rem;
  text-align: right;
}

/* 1. Increase font-size when viewport is wide enough (around 600px) */

@media screen and (min-width: 37.5em) {
  .welcome-section__title {
    font-size: 4rem; /* 1 */
  }
}
